$white: #fff;
$black: #000;

$gray850: #fafafb;
$gray800: #f4f5f7;
$gray750: #f0f2f5;
$gray700: #e5e8ed;
$gray600: #d0d6de;
$gray550: #bbc0ca;
$gray500: #9fa4b0;
$gray400: #878e9c;
$gray350: #757e8c;
$gray300: #646d7a;
$gray200: #555c68;
$gray150: #444b55;
$gray100: #333a44;
$gray050: #111111;

$orange300: #dd6644;
$orange400: #ab5443;

$yellow100: #fae100;
$yellow200: #ecbe00;

$mustard100_15: #ffbe4c26; // 15%
$mustard100: #ffbe4c;
$mustard200: #f2b141;
$mustard300: #e5a637;
$mustard400: #d9992b;

$blue100_15: #4a88e526; // 15%
$blue100: #4a88e5;
$blue200: #3b7ad9;
$blue300: #2c6ac7;
$blue400: #205dba;
