@use '../styles/color' as C;

.container {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 640px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  z-index: 500;
  background-color: C.$white;
  padding: 10px 12px;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.keyword {
  margin: 0 4px 0 12px;
  font-weight: 500;
  color: C.$gray400;
}

.count {
  font-weight: bold;
  font-size: 1.5rem;
}

.button {
  display: flex;
}
