@use '../styles/color' as C;

.container {
  width: 100%;
  max-width: 640px;
  height: 84px;
  padding: 0 12px;
  border-top: 1px solid C.$gray750;
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: C.$white;
}

.item {
  width: calc(100% / 3);
  height: 68px;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
  }

  .label {
    font-size: 1rem;
    color: C.$gray300;
  }
}

.activeItem {
  @extend .item;

  .label {
    font-weight: bold;
    color: C.$gray050;
  }
}
